.logo-name {
    color: rgb(110, 100, 199);
    cursor: pointer;
}

.logo-name:hover {
    color: rgb(206, 62, 91);
    opacity: 1;
    transition: .1s ease-out .1s;
}

header {
    padding: 0px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-list li {
    display: inline;
    padding: 50px;
    color: blanchedalmond;
}

.resume {
    border: 1px solid cyan;
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: cyan;
    background-color: transparent;
    border-radius: 4px;
    text-decoration: none;
}

.resume:hover {
    background-color: rgb(38, 84, 92);
    transition: .1s ease-in-out .1s;
}

.nav-button {
    cursor: pointer;
}

.nav-button:hover {
    color: rgb(145, 255, 255);
    transition: .1s ease-in-out .1s;
}